# =========================
# General
# =========================
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Node Modules
# =========================
node_modules/
**/node_modules/

# =========================
# Next.js
# =========================
.next/
out/
build/

# =========================
# API Build (if using TS)
# =========================
dist/
coverage/

# =========================
# Docker
# =========================
docker-compose.override.yml





# =========================
# Misc
# =========================
.cache/
.vercel/